.top_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
}

.logo {
    margin-top: 50px;
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.logo span {
    color: red;
}

.search {
    margin-top: 50px;
    border: 1px solid red;
    outline: none;
    width: 225px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.search input {
    background-color: #323334;
    width: 96%;
    border: none;
    color: white;
}

.search input::placeholder {
    color: #FFFFFF;
}

.search input:focus {
    outline: none;
    border: none;
}